{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Les cours</h1>
    </div>
    {% for lesson in lessons %}
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card indigo">
                    <div class="card-content white-text">
                        <span class="card-title">{{ lesson.name }}</span>
                        {% for historic in historics %}
                            {% if lesson.id == historic.id %}<p class="chip green">Terminé</p>{% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-action">
                        <a href="{{ path('cours', { 'name': lesson.name }) }}">Accès au cours</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}