{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 offset-m4 m4">
            <p>Identifiez-vous</p>
            <div class="card indigo">
                <div class="card-content white-text">
                    <div class="container-fosuser">
                        <div class="fosuser">
                            {#<div class="logo-fosuser">#}
                            {#<a href="{{ path("home") }}" class="simple-text">#}
                            {#<img class="logo" src="{{ asset('img/logo_myorleans.png') }}" alt="logo de l'entreprise"><br>#}
                            {#</a>#}
                            {#</div>#}
                            {% block fos_user_content %}
                            {% endblock %}
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}